.friend {
  border-radius: 12px;
  margin-bottom: 20px;
  width: 100%;
}

.friend img {
  border-radius: 12px;
  object-fit: cover;
}

.friend-name {
  font-weight: 500;
  color: white;
  margin-left: 30px;
  /* margin-right: 40px; */
}
.friend-streak {
  display: flex;
  color: white;
  margin-left: auto;
  font-size: large;
  align-items: center;
}

.add-friend-icon {
  margin-left: 15px;
  font-size: 27px;
  color: var(--main-color);
  display: flex;
  align-self: baseline;
  transform: translateY(3px);
  cursor: pointer;
}
.tick-icon {
  color: green !important;
}
