.start-btn {
  background-color: var(--main-color);
  padding: 20px;
  position: absolute;
  top: 80%;
  left: 80%;
  outline: none;
  border: none;
  border-radius: var(--roundness);
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: var(--white);
  z-index: 1;
}

video {
  display: none;
}
