@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
body {
  background-color: var(--bg-color);
}
:root {
  --bg-color: #323437;
  --main-color: #ffcb10;
  --roundness: 0.5rem;
  --white: white;
}

button {
  background-color: var(--main-color);
  border: none;
  border-radius: var(--roundness);
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.df {
  display: flex;
}

.ac {
  align-items: center;
}
.fdc {
  flex-direction: column;
}

.sa {
  justify-content: space-around;
}

.sb {
  justify-content: space-between;
}
.se {
  justify-content: space-evenly;
}
.cp {
  cursor: pointer;
}
.ofc {
  object-fit: cover;
}
.jcc {
  justify-content: center;
}
