* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
}
:root {
  --bg-color: #323437;
  --main-color: #ffcb10;
  --roundness: 0.5rem;
  --white: white;
}
