@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

.navbar {
  background-color: var(--bg-color);
  max-width: 100vw;
  height: 7vh;
}
.navbar-brand span {
  font-size: 1.5rem;
  color: var(--main-color);
  font-family: "DM Sans", sans-serif;
}
.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
}
